[submodule "avazar_tool"]
	path = avazar_tool
	url = https://github.com/costa-group/avazar_tool.git
        branch = work_circom
[submodule "ffsol"]
	path = ffsol
	url = https://mygitlab.cs.upc.edu/polynomial-equations/poly-eqs.git
[submodule "circom"]
	path = circom
	url = https://github.com/iden3/circom.git
        branch = print_tree_info
[submodule "circom-llzk"]
	path = circom-llzk
	url = git@github.com:project-llzk/circom.git
